$hovergreen: #4de6b8;
$white: #ffffff;
$whiteGrey: rgba(255, 255, 255, 0.8);
$whiteGrey2: rgba(255, 255, 255, 0.9);
$black: #131111;
$dark: #0f0e0e;

$text: #edf1f7;
$red: #c51212;
$blue: #0041c2;
$green: #14b02d;
$yellow: #ffc12b;
