.bg-gradiente {
  background: linear-gradient(to right, #ce2e3c, #da6709);
}

.social-icons a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 3%;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  color: rgb(255, 255, 255);
}

.copyright {
  text-align: center;
}

.copyright a {
  text-decoration: none;
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.7);
}

.copyright a:hover {
  color: rgb(255, 255, 255);
}
